body {
  background: #232530;
}

/* Change the colour of linenumbers */
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: var(--horizon-dark-gray);
  white-space: nowrap;
}

/* This is the region where the linenumbers are */
.CodeMirror-gutters {
  border-right: 1px solid var(--horizon-dark-bg-hl);
  background-color: var(--horizon-dark-bg);
  white-space: nowrap;
}

/* Do some nice things with brackets */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: var(--horizon-function);
  border-bottom: 1px solid var(--horizon-dark-blue);
  line-height: 1;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: var(--horizon-red);
  border-bottom: 1px solid var(--horizon-dark-red-1);
  line-height: 0.55;
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

.CodeMirror-activeline-background {
  background: #e8f2ff;
}

.CodeMirror-selected {
  background: var(--horizon-selection);
}

/* selected text highlight */
.CodeMirror-focused .CodeMirror-selected {
  background: var(--horizon-selection);
}

/* Item selected in menu for files and what not */
.jp-DirListing-item.jp-mod-selected {
  color: white;
  background: var(--horizon-dark-bg-hl);
}

/* Makes the running icon a tiny bit bigger */
.jp-DirListing-item.jp-mod-running .jp-DirListing-itemIcon::before {
  color: var(--horizon-dark-green);
  content: '\25CF';
  font-size: 8px;
  position: absolute;
  left: -8px;
}

/* Fix hovering items */
.p-Menu-item:hover:not([data-type='separator']),
.jp-FileBrowser-toolbar.jp-Toolbar .jp-ToolbarButtonComponent:hover,
.jp-SideBar.p-TabBar.jp-mod-left .p-TabBar-tab:hover {
  background: var(--horizon-dark-bg-hl);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--horizon-dark-mono-3);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--horizon-dark-mono-3);
}

/* Handle */
::-webkit-scrollbar-thumb:active {
  background: var(--horizon-dark-blue);
}

/* Center any plots e.g. Matplotlib plots */
.p-Widget.jp-RenderedImage.jp-mod-trusted.jp-OutputArea-output {
  text-align: center;
}

/* Markdown File Icon */

.jp-icon-contrast0[fill] {
  fill: var(--horizon-dark-red-2);
}

.jp-Completer-item.jp-mod-active {
  color: var(--horizon-dark-fg);
  background: var(--horizon-dark-bg-hl);
}

/* Change the default blue color when hovering the collapser */
.jp-Notebook .jp-Cell.jp-mod-active .jp-Collapser:hover {
  background: var(--horizon-dark-red-1);
}

/* Custom line rule */
.jp-RenderedHTMLCommon hr {
  display: block;
  margin: 0.5em 0;
  border-style: inset;
  border-width: 1px;
  border-top: 1px solid var(--horizon-dark-fg);
  border-bottom: 1px solid var(--horizon-dark-fg);
}

.jp-MarkdownOutput {
  flex: 1 1 auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: var(--jp-code-padding);
  padding-right: var(--jp-code-padding);
}

.cm-s-zenburn {
  background-color: var(--horizon-dark-bg);
  color: var(--horizon-dark-fg);
}

.cm-s-zenburn .CodeMirror-gutters {
  background: var(--horizon-dark-bg) !important;
}

.cm-s-jupyter span.cm-property {
  color: var(--horizon-variable);
}

.cm-s-jupyter span.cm-attribute {
  color: var(--horizon-function);
}

.cm-s-jupyter span.cm-keyword {
  color: var(--horizon-keyword);
}

.cm-s-jupyter span.cm-string {
  color: var(--horizon-string);
}

.cm-s-jupyter span.cm-operator {
  color: var(--horizon-dark-fg);
}

.cm-s-jupyter span.cm-builtin {
  color: var(--horizon-function);
}

.cm-s-jupyter span.cm-variable-2 {
  color: var(--horizon-dark-orange-1);
}

.cm-s-jupyter span.cm-variable-3 {
  color: var(--horizon-dark-green);
}

.cm-s-jupyter span.cm-error {
  background: var(--horizon-light-bg);
  color: var(--horizon-error);
}

.cm-s-jupyter span.cm-bracket {
  color: var(--horizon-red);
}

.cm-s-jupyter span.cm-tag {
  color: var(--horizon-variable);
}

.cm-s-jupyter span.cm-link {
  color: var(--horizon-string);
}

.widget-box .widget-label {
  text-align: center;
}

.widget-dropdown > select {
  border-radius: 5px;
}

.jp-OutputArea-child .jp-OutputArea-output {
  background-color: #232530;
  border-radius: 5px;
}

.widget-dropdown,
.widget-hslider,
.widget-checkbox {
  background-color: #2e303e;
  border-radius: 5px;
}
